<div>
  <%= link_to "#{drug.name}  #{drug.mnn}", drug %>

  <%#= link_to 'Show', drug %>
  <%#= link_to 'Edit', edit_drug_path(drug) %>
  <%#= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>